
/*
* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }

form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
*/
html, body {
    height: 100%;
}

.container-fluid { height: 100%; }

.hs-height { height: 100% }

.hs-scroll {
  overflow: scroll;
  height: calc(100% - 150px);
}

#ChatBox div:nth-child(even) { background: #eee; }

/*
#BuzzButton { width:100% }
#BuzzButton.won { background-color: lightgreen; }
#BuzzButton.lost { background-color: lightcoral; }
#BuzzButton.active { font-style: bold; }
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }
*/

/*
 Some quick an simple table styleing.
*/
table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
  padding: 1px;
}

.you {
  background-color: lightgreen;
}

.quizMasterInfo {
  background-color: lightblue
}

.questionInfo {
  /*min-height: 400px;*/
  display: grid;
}

.slideContainer {
  grid-column: 1;
  grid-row: 1;
  overflow: hidden;
}

.card-img-top {

}

.QuestionScoreOverlay {
  display: flex;
  align-items: center;
  position: absolute;
  height: 1.75em;
  min-width: 2.75em;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  top: 50px;
  right: 0px;
  color: white;
  background-color: red;
  border-radius: .575em 0 0 .575em;
}

/*
 * ANIMATIONS!
 */

.flip-enter-active {
  animation: bounce-in .5s;
}
.flip-leave-active {

}

 .bounce-enter-active {
   animation: bounce-in .5s;
 }
 .bounce-leave-active {
   /*animation: bounce-in .5s reverse;*/
   animation: shrink-out .5s
 }
 @keyframes bounce-in {
   0% {
     transform: scale(0);
   }
   50% {
     transform: scale(1.5);
   }
   100% {
     transform: scale(1);
   }
 }

 @keyframes shrink-out {
   0% {
     transform: scale(1);
   }
   100% {
     transform: scale(0);
   }
 }



.slide-leave-active,
.slide-enter-active {
   transition: .9s;
}
 .slide-enter {
   transform: scale(0.9);
   z-index: 0;
}
.slide-leave-to {
   transform: translate(-150%, 0);
   z-index: 5000;
}
.slide-leave {
   z-index: 5000;
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
   animation: slide-in 1s
}
.slide-fade-leave-active {
  /*transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);*/
  animation: slide-out 1s
}

@keyframes slide-out {
  0% {
    transform: scale(0);
  }
  10% {
    transform: translateX(-20px);
    transform: translateY(20px);

  }
  100% {
    transform: translateX(300px);
    transform: translateY(20px);
  }
}

@keyframes slide-in {
  0% {
    transform: scale(0);
    transform: translateX(30px);
    transform: translateY(0px);
  }
  100% {
    transform: scale(0);
  }
}

.flip-list-move {
  transition: transform 1s;
}
