<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quiz Time</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- production version, optimized for size and speed -->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- socket.io -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>

    <!-- My own stuff -->
    <link href="css/Quiz.css" rel="stylesheet">
    <script src="js/Quiz.js"></script>


  </head>
  <body>

  <div id="app">
    <div class="container-fluid" style="height: 100%">
      <div class="row clearfix hs-height">
        <div class="col-md-6 col-xs-12 column">
          <div class="progress">
            <div id="TimeBar" class="progress-bar progress-bar-striped" role="progressbar"
      aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
            </div>
          </div>

<!--
          <div class="alert alert-success alert-dismissable" >
             <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4>
              Alert!
            </h4> <strong>Warning!</strong> Best check yo self, you're not looking too good.
            <a href="#" class="alert-link">alert link</a>
          </div>
-->


          <!--<button type="button" class="btn btn-block btn-lg btn-success active">Default</button>-->





              <!-- Kontroller för spelare -->
            <div class="personalInfo col-md-6 col-xs-12">
              <strong>{{status.question.questionType}} {{ status.question.questionText }}</strong> värd {{status.question.questionScore}} poäng. <div v-if="status.winningTeamName">{{status.winningTeamName}} har buzzat.</div>

              <div id="player">
                Du är team #{{player.id}} med namn <input v-model="player.teamName" /><button type="button" id="RenameButton" >Byt namn</button>

                <button type="button" id="BuzzButton" class="btn btn-lg btn-block BuzzButton">Buzz!</button>
                <div v-if="player.answer">Du har svarat: {{player.answer}}</div>

                Svar: <input v-model="player.pendingAnswer" />
              </div>
            </div>

            <!-- Kontroller för score board -->
            <div class="playerTable col-md-12 col-xs-12">
              <table style="">
                <tr>
                  <th>#</th>
                  <th>Namn</th>
                  <th>Status</th>
                  <th>Svar</th>
                  <th>Poäng</th>
                  <th>Knappar</th>
                </tr>
                <template v-for="p in players" ><!-- v-bind:key="player.team" -->
                  <tr v-bind:id="p.team">
                    <td>{{ p.team }}</td>
                    <td v-bind:class="[player.id == p.team ?  'you' : '']">{{ p.teamName }}</td>
                    <td>
                      <span v-if="p.active">Active </span>
                      <span v-if="p.buzzOrder">Buzz: {{ p.buzzOrder }}</span>
                    </td>
                    <td>
                      <span v-if="p.questionScore > 0"> {{p.questionScore}} - {{ p.answer }} - {{ p.isCorrect }}</span>
                    </td>
                    <td> {{p.score}}</td>
                    <td><a onClick="givePoints(1, $(this).parent().parent().attr('id'));">Give Points</a> </td>
                </tr>
                </template >
              </table>
            </div>

        </div>
        <p></p>




        <div class="col-md-6 col-xs-12 hs-height">

          <!-- Kontroller för QuizMaster -->
          <div class="quizMasterInfo col-md-6 col-xs-12">
            Du är QuizMaster
            Frågetyp: <select type="select" v-model="quizMaster.pendingQuestion.questionType" ><option value="RED_THREAD">Röda tråden</option></select>
            Fråga: <input v-model="quizMaster.pendingQuestion.questionText" />
            Poäng: <input v-model="quizMaster.pendingQuestion.questionScore" />
            <button type="button" id="UpdateQuestion">Uppdatera fråga</button>

          </div>

        <!-- Kontroller för chat -->
          <div class="list-group hs-scroll" id="ChatBox">
             <a href="#" id="ChatHeader" class="list-group-item active">Chat</a>
          </div>

          <ul id="messages"></ul>
          <!--
          <form action="">
            <input id="m" autocomplete="off" /><button>Send</button>
          </form>
        -->
        </div>
      </div>
    </div>

    </div>
    <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
    <script src="js/Quizlist.js"></script>

    <script>
      initQuizlist();
    </script>


  </body>
</html>
